@model PublisherUpdateVM

@{
    ViewData["Title"] = "Update Publisher";
}

<h1 class="mt-4 mb-4 text-center text-primary font-weight-bold">Update Publisher Information</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-action="Update" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-4"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label font-weight-bold"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter Publisher Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Adress" class="control-label font-weight-bold"></label>
                <input asp-for="Adress" class="form-control" placeholder="Enter Publisher Address" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Rating" class="control-label font-weight-bold"></label>
                <input asp-for="Rating" class="form-control" type="number" step="0.1" min="0" max="5" placeholder="Enter Publisher Rating (0 to 5)" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-lg px-5 py-3">
                    <i class="fa-regular fa-floppy-disk"></i> Save
                </button>
            </div>

        </form>

        <div class="text-center mt-4">
            <a asp-action="Index" class="btn btn-secondary btn-lg px-4 py-2 rounded-pill shadow-sm"><i class="fa-regular fa-turn-left"></i> Back to List</a>
        </div>
    </div>
</div>
