<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon">
            <i class="fa-duotone fa-solid fa-books"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Library Management</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" asp-action="Index" asp-controller="Home">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Author Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAuthor"
           aria-expanded="true" aria-controls="collapseAuthor">
            <i class="fas fa-fw fa-user"></i>
            <span>Author</span>
        </a>
        <div id="collapseAuthor" class="collapse" aria-labelledby="headingAuthor" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-controller="Author" asp-action="Index">View Authors</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Book Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBook"
           aria-expanded="true" aria-controls="collapseBook">
            <i class="fas fa-fw fa-book"></i>
            <span>Book</span>
        </a>
        <div id="collapseBook" class="collapse" aria-labelledby="headingBook" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-controller="Book" asp-action="Index">View Books</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - BookCategory Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBookCategory"
           aria-expanded="true" aria-controls="collapseBookCategory">
            <i class="fas fa-fw fa-cogs"></i>
            <span>Book Category</span>
        </a>
        <div id="collapseBookCategory" class="collapse" aria-labelledby="headingBookCategory" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-controller="BookCategory" asp-action="Index">View Book Categories</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Publisher Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePublisher"
           aria-expanded="true" aria-controls="collapsePublisher">
            <i class="fas fa-fw fa-building"></i>
            <span>Publisher</span>
        </a>
        <div id="collapsePublisher" class="collapse" aria-labelledby="headingPublisher" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" asp-controller="Publisher" asp-action="Index">View Publishers</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
</ul>
